.header{background-color: black; color: white;}

.carousel {
    position: relative;
    width: 40%;
    margin: 20px auto;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
    flex-shrink: 0;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal img {
    max-width: 90%;
    max-height: 80%;
}

#close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

body.dark-theme {
    background-color: black;
    color: white;
}

body.dark-theme .header{
    background-color: #ffffff;
    color: black;
}

body.dark-theme .footer a{background-color: #ffffff;
    color: black;

}

.theme-toggle{
    margin: auto;
    text-align: center;
    display: flex;
    
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

.social-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.social-links a:hover {
    color: #ddd;
}
